<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>

<header class="top-header">
    <div class="container">
        <div class="logo-block">
            <img src="https://i.ibb.co.com/rR2cCbV9/eduu.png" alt="Logo">
        </div>

<nav class="menu">
    <a href="/" data-page="home">Главная</a>
    <a href="/universities" data-page="universities">Университеты</a>
    <a href="/compare" data-page="compare">Сравнение</a>
    <a href="/3d" data-page="tours_3d">3D-Туры</a>
    <a href="/international" data-page="intl">Международные программы</a>
    <a href="/about" data-page="about">О сервисе</a>
</nav>

<div class="lang-switch">
    <button id="lang-btn">RU ▼</button>

    <div class="lang-menu">
        <div data-lang="ru">Русский</div>
        <div data-lang="kz">Қазақша</div>
        <div data-lang="en">English</div>
    </div>
</div>

    </div>
</header>

    <script src="../static/script.js"></script>
</body>
</html>